input {
  border: none;
}

textarea {
  border: none;
}

.my-container {
  padding: 3rem 4rem;
  margin: auto;
}

.bg-blue {
  background-color: #334076;
  color: #ffffff;
}

.bg-diamond {
  background-image: url(/img/bg/whitediamond.png);
  background-repeat: repeat;
  background-size: 200px;
}

.bg-spikes {
  background-image: url(/img/bg/spikes.png);
  background-repeat: repeat;
  background-size: 50%;
}

.bg-light-grey {
  background-color: #e6e8eb;
}

.btn-red {
  background-color: #E2585D;
  padding: 1rem 1.5rem;
  color: #ffffff;
}

.btn-red a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.btn-red:hover {
  opacity: 0.8;
  color: #ffffff;
}

.btn-red-outline {
  -webkit-box-shadow: inset 0 0 0 3px #E2585D;
          box-shadow: inset 0 0 0 3px #E2585D;
  padding: 1rem 1.5rem;
}

.btn-red-outline a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.btn-red-outline:hover {
  background-color: rgba(51, 51, 51, 0.8);
}

.btn-blue {
  background-color: #3E5D8F;
  padding: 1rem 1.5rem;
}

.btn-blue a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.blue-heading {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: #3E5D8F;
}

.blue-heading::before {
  content: "";
  position: absolute;
  height: 9px;
  width: 100px;
  background-color: #E2585D;
  margin-top: 4rem;
}

.blue-heading-noline-sm {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #3E5D8F;
}

.grey-heading {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: #3D4147;
}

.grey-heading::before {
  content: "";
  position: absolute;
  height: 9px;
  width: 100px;
  background-color: #E2585D;
  margin-top: 4rem;
}

.grey-heading-noline-sm {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #3D4147;
}

/* Logo */
.logo {
  width: 375px;
}

.top-bar {
  position: fixed;
  right: 1rem;
  top: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0 3px #E2585D;
          box-shadow: inset 0 0 0 3px #E2585D;
}

.top-bar .email-top-bar a {
  color: #3D4147;
}

.top-bar .phone-number {
  background-color: #E2585D;
  padding: 1rem 1.5rem;
}

.top-bar .phone-number a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

/* Main Nav */
#main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  top: 20px;
}

#main-nav .navbar-nav > .active > a {
  color: #3E5D8F;
}

#main-nav .nav-item .nav-link {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  color: #3D4147;
}

#main-nav .nav-item .active {
  color: #3E5D8F;
}

.carousel-item {
  height: 450px;
  position: relative;
}

.carousel-item .trust-logos {
  position: absolute;
  right: 0;
  height: 85px;
}

.carousel-item .trust-logos .trust-logo {
  height: 100%;
}

.carousel-item .carousel-image-overlay {
  background-color: #000;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  position: absolute;
}

.carousel-item .carousel-bg-img {
  width: 100%;
}

.carousel-item .carousel-caption {
  text-align: left;
  left: 10%;
  right: 10%;
  top: 50px;
}

.carousel-item .carousel-caption .lead {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  width: 60%;
}

.carousel-item .carousel-caption .lead::after {
  content: "";
  position: absolute;
  height: 9px;
  width: 100px;
  background-color: #E2585D;
  left: 0;
  margin-top: 4rem;
}

.carousel-item .carousel-caption .carousel-list .carousel-list-item {
  font-size: 1.2rem;
}

#main-cta {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

#main-cta .jumbotron {
  margin-bottom: 0;
}

#what-we-do .my-container .row {
  background-color: #ffffff;
}

#our-services .my-container .card-deck {
  margin-top: 50px;
}

#our-services .my-container .card-deck .card .card-body {
  text-align: center;
  display: -ms-grid;
  display: grid;
}

#our-services .my-container .card-deck .card .card-body .card-title {
  font-size: 1.75rem;
}

#our-services .my-container .card-deck .card .card-body .card-text {
  margin-bottom: 1rem;
}

#our-services .my-container .card-deck .card .card-body .btn-red {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#why-choose-us .my-container .card-deck {
  margin-top: 50px;
}

#why-choose-us .my-container .card-deck .card {
  background: none;
  border: none;
}

#why-choose-us .my-container .card-deck .card .card-body {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-flex-line-pack: start;
      align-content: start;
  text-align: center;
}

#why-choose-us .my-container .card-deck .card .card-body .card-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: #E2585D;
}

#why-choose-us .my-container .card-deck .card .card-body .card-text {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #334076;
}

#why-choose-us .my-container .card-deck .card .card-body .fas {
  color: #3D4147;
  font-size: 65px;
}

#reviews .carousel-item {
  padding: 15%;
  max-height: 450px;
}

#reviews .fa-star {
  color: #ffd700;
}

#reviews .fas {
  color: #000;
}

#footer {
  background-color: #334076;
}

#footer .footer-content {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  justify-items: center;
  color: #ffffff;
}

#footer .footer-content .footer-logo {
  width: 375px;
}

#footer .footer-content .footer-made-by a {
  color: #ffffff;
}

@media only screen and (max-width: 568px) {
  .my-container {
    padding: 3rem 1.5rem;
  }
  .top-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 50px;
    left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top-bar .mr-4 {
    margin: 0;
  }
  .top-bar .pl-4 {
    padding: 0;
  }
  .top-bar .email-top-bar {
    display: none;
  }
  .top-bar .phone-number {
    width: 100%;
  }
  .top-bar .btn {
    border-radius: 0;
  }
  #main-nav {
    margin-top: 50px;
  }
  #main-nav .navbar-brand .logo {
    width: 250px;
  }
  #main-nav .navbar-toggler {
    margin-bottom: 10px;
  }
  #main-nav span.navbar-toggler-icon {
    color: #3E5D8F;
  }
  .carousel-item {
    height: 350px;
  }
  .carousel-item .carousel-caption .lead {
    font-size: 2rem;
    width: 100%;
  }
  .carousel-item .carousel-caption .btn {
    display: none;
  }
  .carousel-item .carousel-caption .trust-logos {
    display: none;
  }
  .carousel-item .carousel-bg-img {
    height: 100%;
  }
  #reviews .carousel-inner {
    height: 600px;
  }
  #reviews .carousel-inner .carousel-item {
    padding: 15%;
  }
  #footer .footer-content .footer-logo {
    width: 90%;
  }
}
/*# sourceMappingURL=styles.css.map */